<div class="row">
  <!-- <div class="col-sm-12" style="text-align:center;">
    Register
  </div> -->

  <div class="col-sm-12">
      <div class="container">
          <div class="head-font">Ready To Roll {{username}}??</div>
          
          <hr class="my-4">
          
          <app-music-share></app-music-share>
          <p class="lead" style="color:white;">
            <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Log Out</a>
          </p>
        </div>
  </div>
</div>

