<ul id="dm-grid" ng-hide="loading">

  <li class="dm-row" *ngFor="let row of _rows">
   <ul class="instrument">
     <li class='instrument-name'>
       {{row.getInstrument().getName()}}<br>
       <span>{{row.getInstrument().getDescription()}} </span>
     </li>
     <li *ngFor="let beat of row.getBeats()">
       <button class="btn"  [ngClass]="{'btn-on':beat.isActive()}"
         (click)="beat.toggle()">
         <div></div>
       </button>
     </li>
   </ul>
 </li>

</ul>
<!-- <div>{{ _gridLength }}</div> -->
