<ul id="dm-grid" ng-hide="loading">
  <li class="dm-header">
    <ul>
      <li class='instrument-name'></li>
      <li class='beat-num' *ngFor="let item of input; let i = index ">
        
        <!-- {{ grid }} -->
        <div [ngClass]="{true: 'current-beat'}[(i + 1) === currentBeat()]">{{i + 1}}</div>
       
      </li>
    </ul>
  </li>
  <div>{{_currentBeat}}</div>
  <!-- <li class="dm-row" ng-repeat="row in machine.rows()">
    <ul class="instrument">
      <li class='instrument-name'>
        {{row.getInstrument().getName()}}<br>
        <span>{{row.getInstrument().getDescription()}}<span>
      </li>
      <li *ngFor="beat in row.getBeats()">
        <button class="btn" ng-class="{'btn-on':beat.isActive()}" 
          ng-click="beat.toggle()">
          <div></div>
        </button>
      </li>
    </ul>
  </li> -->
</ul>
<!-- <div>{{ _gridLength }}</div> -->

<h1>Users</h1>
<div>
<ul>
    <div *ngIf="instrument$">
    <div >{{ instrument$.instruments[0] }}</div>
  </div>
  <!-- <li *ngFor="let i of instrument$">
    <div>>{{ i.name }}</div>

  
  </li> -->
</ul>
</div>